:root {
	--container-width: 1212px;
	--container-padding: 6px;

    --font-family: "Raleway", sans-serif;

	--blue: #1e2b6c;
	--accent: #36c6ab;
	--bg: #e6f8f5;
	--light: #caf1ea;


    --laptop-size: 1199px;
	--tablet-size: 767px;
	--mobile-size: 579px;
}

.dark {
    --page-bg: #252526;
    --text-color: #fff;
}